body{
    background-color:#292929;
    margin: 0;
    font-family: 'Exo', sans-serif;
}
.navbar{
    text-align: center;
    margin-top: 16%;
    border-style: solid;
    margin-left: 40%;
    margin-right: 40%;
    padding: 2%;
background-color:#1c1c1c;
border-color: #1c1c1c;
border-radius: 10px;
}

input{
    transition: 500ms;
    margin-top: 20px;
    padding: 10px;
    border-style: solid;
    background-color: white;
    border-color: black;
    border-radius: 10px;
    font-size: 17px
}
input:hover{
    transition: 400ms;
    border-color: white;
    background-color: black;
    color: white;

}


@media only screen and (max-width: 1400px) {
   
.navbar{
    margin-top: 20%;
    margin-left: 30%;
    margin-right: 30%;
}
    

  }

  
@media only screen and (max-width: 600px){

    .navbar{
        margin-top: 45%;
        margin-left: 10%;
        margin-right: 10%;
    }
}